@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    display: flex;
    background-color: "#EDF1F5";
  }

  #root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
